
<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()"> 
    <input type="text" placeholder="Ingrese el Nombre" name="nombre" id="nombre" [(ngModel)] = "nombreInput" required>
    <!--input type="text" placeholder="Ingrese el Nombre" name="nombre" id="nombre" #nombreInput (esto es referencia local donde se tienen que pasar por parametro con cesos nombre al metodo que se les quiere asignar)--> 

    <input type="text" placeholder="Ingrese el Apellido" name="apellido" id="apellido" [(ngModel)] = "apellidoInput" required>
    <input type="submit" style="cursor: pointer;" value="+">
    <button *ngIf="index != null" type="submit" style="cursor: pointer;" class="buttonRed" (click)="eliminarPersona()">-</button>
    <!--input type="text" placeholder="Ingrese el Apellido" name="apellido" id="apellido" #apellidoInput-->
  <!--<button class="boton" (click)="agregarPersona()">+</button>-->
</form>
</div>
  