<div *ngIf="!isAutenticado()" class="box centrado">
    <a routerLink="/login">Login</a>
</div>

<div *ngIf="isAutenticado()" class="box centrado">
    <a style="cursor: pointer;" (click)="salir()">Salir</a>
</div>
<div class="box" id="heading">

    <h1>{{title}}</h1>

</div>


<router-outlet></router-outlet> <!--especifica que se quiere mostrar todo lo establecido en el routing -->





<!--<div *ngFor="let persona of personas; let i = index"> --> <!--con el *ngFor se puede recorrer y mostrar arreglos, y se puede poner de forma opcional el i de indice -->
 <!--{{i+1}}:{{persona.nombre}} {{persona.apellido}}
</div>--> 

